{% extends "public.html" %} {% block page %}
<div class="row q-col-gutter-md justify-center">
  <div class="col-12 col-sm-8 col-md-5 col-lg-4">
    <q-card class="q-pa-lg">
      <q-card-section class="q-pa-none">
        <h5 class="text-subtitle1 q-mt-none q-mb-sm" v-text="paywallMemo"></h5>
        <p v-show="paywallDescription" v-text="paywallDescription"></p>
        <div v-if="!this.redirectUrl" class="q-mt-lg">
          <q-form>
            <q-input
              filled
              v-model.number="userAmount"
              type="number"
              :min="paywallAmount"
              :suffix="paywallCurrency"
              label="Choose an amount *"
              :hint="`Minimum ${formattedAmount}`"
            >
            </q-input>
            <div class="row q-mt-lg">
              <q-btn
                unelevated
                color="primary"
                :disabled="userAmount < paywallAmount || paymentReq || loading"
                @click="createInvoice()"
                >Pay</q-btn
              >
              <q-btn
                v-if="paywallFiat"
                unelevated
                outline
                class="q-ml-sm"
                color="primary"
                :disabled="userAmount < paywallAmount || paymentReq || loading"
                @click="createInvoice(true)"
                >Pay in fiat</q-btn
              >
            </div>
          </q-form>
          <div v-if="paymentReq" class="q-mt-lg">
            <a
              class="text-secondary"
              :href="paymentReq"
              target="_blank"
              rel="noopener noreferrer"
            >
              <lnbits-qrcode
                :value="paymentReq"
                class="rounded-borders"
              ></lnbits-qrcode>
            </a>
            <div class="row q-mt-lg">
              <q-btn outline color="grey" @click="copyText(paymentReq)"
                >Copy invoice</q-btn
              >
              <q-btn @click="cancelPayment" flat color="grey" class="q-ml-auto"
                >Cancel</q-btn
              >
            </div>
          </div>
        </div>
        <div v-else>
          <q-separator class="q-my-lg"></q-separator>
          <p>
            You can access the URL behind this paywall:<br />
            <strong style="word-break: break-all" v-text="redirectUrl"></strong>
          </p>
          <div class="row q-mt-lg">
            <q-btn
              outline
              color="grey"
              type="a"
              :href="redirectUrl"
              rel="noopener noreferrer"
              >Open URL</q-btn
            >
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  const paywall = JSON.parse({{ paywall | tojson | safe }})
</script>
<script src="{{ static_url_for('paywall/static', path='js/display.js') }}"></script>
{% endblock %}
